/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/* Default keymap stub. Users should provide their own keymap via KEYMAP_FILE. */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_Base {
            bindings = <
 &none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
 &none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
 &none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
 &none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
               &none  &none  &none                     &none  &none  &none
                                     &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
